<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Compter le nombre de tweets d'un utilisateur</h1>
        <form action="/user/tweets" method="get">
            <input type="text" name="idUserInput" id="idUserInput"><br>
            <button type="submit">compter</button>
        </form>
        <div>

        </div>
    </div>
</body>
</html>